<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% load static %}
        <!-- <link rel="stylesheet" href="{% static 'time_app/css/bootstrap.css' %}">  -->
        <!-- <script src="{% static 'time_app/js/bootstrap.js' %}"></script> -->
    </head>
    <body>
        <div class="row mb-5"></div>
        <div class="row">
            <div class="col"></div>
            <div class = "col-4 text-center m2 py-2 bg-light text-dark">
                <h3>Current Date and Time:</h3>
                <h3>{{time}}</h3>
                
                <form action="/" method="GET">
                    {% csrf_token %}
                <input class="btn btn-primary mt-5" type="submit" name="Check_time" value="Go to Random String"/>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </body>
</html>